<div class="footer">
    <div class="pure-menu pure-menu-horizontal pure-menu-open">
        <ul>
            <li>Copyright by Christian Mehlmauer </li>
        </ul>
    </div>
</div>
<script src="/js/all.min.js"></script>
<script src="/js/firefart.js"></script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//www.firefart.at/";
    _paq.push(['setTrackerUrl', u+'pi.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'pi.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//www.firefart.at/pi.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
